.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

.welcome-message h1 {
  font-size: 2.5rem;
  color: #28487b;
  margin-bottom: 10px;
}

.welcome-message p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 30px;
}

  .button-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    margin-top: 20px;
    margin-bottom: 20px;
}


.button-18 {
  align-items: center;
  background-color: #28487b;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  line-height: 20px;
  max-width: 300px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus { 
  background-color: #658bc7;
  color: #ffffff;
}

.button-18:active {
  background: #46729e;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

@media (max-width: 600px) {
  .welcome-message h1 {
    font-size: 2rem;
  }

  .welcome-message p {
    font-size: 1rem;
  }

  .button-18 {
    font-size: 16px;
    padding: 12px 25px;
  }
}