/* Navbar.css */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    color: white;
    padding: 1rem;
    border: 1px solid #AEAEAE;

  }
  
  nav img {
    height: 40px;
  }
  
  nav a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }


/* Nav-container */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;  /* Ensure items are vertically centered */
  background-color: #FFFFFF;
  color: white;
  padding: 1rem;
  border: 1px solid #AEAEAE;
  height: 55px; /* Adjusted height to match other elements */
}

.group-1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center; /* Align items within the group */
}

.logo-container {
  height: 55px;
  width:15%;
}

.h-10 {
  object-fit: contain;
  height: 55px;
}

.nav-bar {
  display: flex;
  align-items: center;

}

.nav-links {
  display: flex;
  align-items: center; /* Align search icon and links vertically */
  margin-right: 5px; /* Add margin to right of nav-links */
}

.nav-links a {
  margin: 0 10px; /* Add spacing between links */
}


.h-11 {
  object-fit: contain;
  width:18px;
  height: auto;
  margin-right: 10px;
}


/* CSS */
.button-18 {
  align-items: center;
  background-color: #28487b;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  line-height: 20px;
  max-width: 300px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus { 
  background-color: #658bc7;
  color: #ffffff;
}

.button-18:active {
  background: #46729e;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.menu-button {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 760px) {
  /* Show Hamburger Button */
  .menu-button {
      display: block;
  }

  /* Hide Navigation Links by Default */
  .nav-links {
      display: flex; 
      flex-direction: column;
      position: absolute;
      top: 80px;
      right: 0px;
      left: 4px;
      width: 100%;
      text-align: left;
      background-color: var(--vl);
      border: 1px solid #000;
      border-radius: 15px;
      box-shadow: 3px 3px 16px 1px #b4b4b4;
      background: #f5f5f5;
      max-height: 0;
      opacity: 0;
      visibility: hidden;
      overflow: hidden;
      overflow: hidden; 
      transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;; 

  }

  /* Show Menu When Active */
  .nav-links.active {
      max-height: 250px;
      opacity: 1;
      visibility: visible;
  }

  /* Style for Mobile Menu Links */
  .nav-links a {
      padding: 20px;
      display: block;
      text-align: left;
      margin-left: 0;
  }
}
