/* Navbar.css */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #283349;
    color: white;
    padding: 1rem;
  }
  
  nav img {
    height: 40px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }