/* Upload.css */
.upload-container{
  display: flex; 
    flex-direction: column; /* Ensures elements are stacked if needed */
    justify-content: center;  /* Centers vertically */
    align-items: center;  /* Centers horizontally */
    height: 100vh; /* Optional: Ensures full-page height */
}

.upload-box {
    border: 2px dashed #4a5568;
    padding: 20px;
    width: 300px;
    text-align: center;
    margin-top: 20px;
  }
  

  .upload-image{
    display: flex;
    margin-top: 20px;
    height: 40px;
    width: 40px;
    padding-left: 125px;
    padding-right: 125px;
  }
  
  .file-list {
    margin-top: 10px;
  }
  
  .response-box {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #0e78ea;
    background-color: #ef5454;
  }
  
  .upload-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .upload-button:hover {
    background-color: #0056b3;
  }
  